:host {
}
.modal {
  font-family: Arial, sans-serif;
  border-radius: 5px;
  box-shadow: 1px 1px 1px #ccc;
  background-color: var(--app-modal-bg-color);
  position: fixed;
  top: 30%;
  width: 700px;
  left: calc(50% - 350px);
  z-index: 999991;
  padding: 50px;
}
.modal.header, .modal.body, .modal.footer {
  display: flex;
}
.modal.body.top {
  position: relative;
  width: 600px;
  margin: auto;
  max-height: 165px;
}
.modal .body .top .photo {
  display: inline-block;
  vertical-align: top;
  width: 124px;
  height: 124px;
}

.modal .body .top .message {
  width: 426px;
  margin-left: 40px;
  position: relative;
  display: inline-block;
  vertical-align: top;
}
.modal .body .bottom {
  width: 600px;
  position: relative;
  margin: 42px auto auto;
  display: flex;
  justify-content: center;
}
.modal.header {
  flex-flow: row-reverse;
}
.backdrop {
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6);
  position: absolute;
  z-index: 99999;
}
.form-group {
  display: flex;
  height: 40px;
}
.form-group .phone_input {
  flex-basis: 30%;
  vertical-align: top;
  margin-right: 5px;
  max-width: none;
  min-width: 0;
  border: 1px solid #ccc;
  font-size: 20px;
  box-shadow: inset 1px 2px 6px 0 rgba(100,100,100,.5);
  color: #34495e;
  text-indent: 8px;
  border-radius: 5px;
  font-weight: 400;
  display: inline-block;
}
.form-group .phone_date {
  flex-basis: 20%;
}
.form-group .phone_hour {
  flex-basis: 20%;
}
.form-group .phone_minute {
  flex-basis: 10%;
}
.form-group .submit_button {
  border-radius: 5px;
  background-clip: padding-box;
  background-color: #12a0f1;
  color: #fff;
  border: none;
  font-size: 15px;
  margin: 0 5px;
  cursor: pointer;
  text-align: center;
  box-shadow: none;
  text-shadow: none;
  display: inline-block;
  float: none;
  background-image: none;
}
input, select {
  width: 100%;
}
button[type="submit"] {
  margin-top: 5px;
}
/*Close button*/
.close {
  position: absolute;
  right: 32px;
  top: 32px;
  width: 32px;
  height: 32px;
  opacity: 0.3;
}
.close:hover {
  opacity: 1;
}
.close:before, .close:after {
  position: absolute;
  left: 15px;
  content: ' ';
  height: 33px;
  width: 2px;
  background-color: #333;
}
.close:before {
  transform: rotate(45deg);
}
.close:after {
  transform: rotate(-45deg);
}
.custom_select {
  vertical-align: top;
  margin-right: 5px;
  max-width: none;
  min-width: 0;
  width: 200px;
  border: 1px solid #ccc;
  height: 40px;
  font-size: 20px;
  box-shadow: inset 1px 2px 6px 0 rgba(100,100,100,.5);
  color: #34495e;
  text-indent: 8px;
  border-radius: 5px;
  font-weight: 400;
  display: inline-block;
}
